main{
   display: flex;
   justify-content: center;
}
.allJobs{
   width: 70%;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
}

.cardJob{
   width: 200px;
   height: 200px;
   border: black 2px solid;
   border-radius: 5%;
   margin: 20px;
   text-align: center;
}

.hidden{
   display: none;
}

#chargind{
   width: 100%;
   height: 70vh;
   background-color: rgb(148, 216, 148);
   display: flex;
   justify-content: center;
   align-items: center;
}

#chargind div{
   display: flex;
   font-size: 2rem;
}
#chargind div .catLoading{
   width: 200px;
   height: 200px;
   position: absolute;
   right: -300px; 
   animation: moveCat 2s infinite linear;
}


@keyframes moveCat {
   0% {
     right: 50px;
   }
   50% {
     right: 80%; 
   }
   100% {
     right: 50px; 
   }
 }
